<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main-frame">
        <div class="left-frame">
          <div class="left-1">
            <div class="left-1-1">
              <img
                src="images/profile.png"
                alt="ighhjghj"
                width="156px"
                height="142px"
              />
            </div>
            <div class="left-1-2"><%=user.name%></div>
            <div class="left-1-3"><%=user.profession%></div>
            <div class="icons">
              <a class="link-href" href=""
                ><div class="icon">
                  <img src="menu-icon/Vector.svg" class="icon-1" alt="" /></div
              ></a>
              <a class="link-href" href=""
                ><div class="icon">
                  <img
                    src="menu-icon/Vector-1.svg"
                    class="icon-1"
                    alt=""
                  /></div
              ></a>
              <a class="link-href" href=""
                ><div class="icon">
                  <img
                    src="menu-icon/Vector-2.svg"
                    class="icon-1"
                    alt=""
                  /></div
              ></a>
              <a class="link-href" href=""
                ><div class="icon">
                  <img
                    src="menu-icon/Vector-3.svg"
                    class="icon-1"
                    alt=""
                  /></div
              ></a>
              <a class="link-href" href=""
                ><div class="icon">
                  <img
                    src="menu-icon/Vector-4.svg"
                    class="icon-1"
                    alt=""
                  /></div
              ></a>
              <a class="link-href" href=""
                ><div class="icon">
                  <img
                    src="menu-icon/Vector-5.svg"
                    class="icon-1"
                    alt=""
                  /></div
              ></a>
            </div>
          </div>
          <div class="marginer-1"></div>
          <div class="left-2">
            <div class="left-2-1">
              <div class="left-2-2-1">Age:</div>
              <div class="left-2-2-2">24</div>
            </div>
            <div class="left-2-1">
              <div class="left-2-2-1">Residence:</div>
              <div class="left-2-2-2">Uzbekistan</div>
            </div>
            <div class="left-2-1">
              <div class="left-2-2-1">Freelance:</div>
              <div class="left-2-2-2">Available</div>
            </div>
            <div class="left-2-1">
              <div class="left-2-2-1">Address:</div>
              <div class="left-2-2-2">South Korea</div>
            </div>
          </div>
          <div class="marginer-2"></div>
          <div class="left-3">
            <div class="left-3-1">Languages</div>
            <div class="left-3-2">
              <div class="left-3-2-1">Uzbek</div>
              <div class="left-3-2-2">100%</div>
            </div>
            <div class="left-3-l">
              <img src="menu-icon/uzbek.svg" alt="" />
            </div>
            <div class="left-3-2">
              <div class="left-3-2-1">English</div>
              <div class="left-3-2-2">80%</div>
            </div>
            <div class="left-3-l">
              <img src="menu-icon/english.svg" alt="" />
            </div>
            <div class="left-3-2">
              <div class="left-3-2-1">Turkish</div>
              <div class="left-3-2-2">70%</div>
            </div>
            <div class="left-3-l">
              <img src="menu-icon/turkish.svg" alt="" />
            </div>
          </div>
          <div class="marginer-3"></div>
          <div class="left-4">
            <div class="left-4-1">Skills</div>
            <div class="left-4-2">
              <div class="left-4-2-1">Html</div>
              <div class="left-4-2-2">90%</div>
            </div>
            <div class="left-4-l"><img src="menu-icon/html.svg" alt="" /></div>
            <div class="left-4-2">
              <div class="left-4-2-1">CSS</div>
              <div class="left-4-2-2">85%</div>
            </div>
            <div class="left-4-l"><img src="menu-icon/css.svg" alt="" /></div>
            <div class="left-4-2">
              <div class="left-4-2-1">Js</div>
              <div class="left-4-2-2">80%</div>
            </div>
            <div class="left-4-l"><img src="menu-icon/js.svg" alt="" /></div>
            <div class="left-4-2">
              <div class="left-4-2-1">PHP</div>
              <div class="left-4-2-2">75%</div>
            </div>
            <div class="left-4-l"><img src="menu-icon/php.svg" alt="" /></div>
            <div class="left-4-2">
              <div class="left-4-2-1">Wordpress</div>
              <div class="left-4-2-2">85%</div>
            </div>
            <div class="left-4-l">
              <img src="menu-icon/word.svg" alt="" />
            </div>
          </div>
          <div class="marginer-4"></div>
          <div class="left-5">
            <div class="left-5-1">Extra skills</div>
            <div class="left-5-2">
              <div class="left-5-icon">
                <img
                  src="menu-icon/suffix.svg"
                  width="15px"
                  height="15px"
                  alt=""
                />
              </div>
              <div class="left-5-2-1">Phtyhon</div>
            </div>
            <div class="left-5-2">
              <div class="left-5-icon">
                <img
                  src="menu-icon/suffix.svg"
                  width="15px"
                  height="15px"
                  alt=""
                />
              </div>
              <div class="left-5-2-1">Java</div>
            </div>
            <div class="left-5-2">
              <div class="left-5-icon">
                <img
                  src="menu-icon/suffix.svg"
                  width="15px"
                  height="15px"
                  alt=""
                />
              </div>
              <div class="left-5-2-1">C++</div>
            </div>
            <div class="left-5-2">
              <div class="left-5-icon">
                <img
                  src="menu-icon/suffix.svg"
                  width="15px"
                  height="15px"
                  alt=""
                />
              </div>
              <div class="left-5-2-1">C#</div>
            </div>
          </div>
          <div class="marginer-5"></div>
          <button class="btn-download">DOWNOALD CV</button>
        </div>
        <div class="midd-frame">
          <div class="midd-1">
            <div class="midd-1-left">
              <div class="midd-1-left-1">I'm Ismoil Full-stack Developer</div>
              <div class="midd-1-left-2">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam
                explicabo laboriosam recusandae repellendus, at nisiLorem, ipsum
                dolor sit amet consectetur adipisicing elit.
              </div>
              <div class="button-midd">
                <a href=""> <img src="box-images/button2.svg" alt="" /> </a>
              </div>
            </div>
            <div class="midd-1-right">
              <img src="images/Ellipse 1501.svg" class="Ellihpse01" alt="" />
              <img src="images/Ellipse 1501.svg" class="Ellihpse02" alt="" />
              <img src="images/Ellipse 1501.svg" class="Ellihpse03" alt="" />
              <img src="images/Ellipse 1501.svg" class="Ellihpse04" alt="" />
              <img src="images/square.svg" class="square01" alt="" />
              <img src="images/square.svg" class="square02" alt="" />
              <img
                src="images/photo.png"
                alt="dfsf"
                width="325px"
                height="460px"
              />
            </div>
          </div>
          <div class="midd-2">
            <div class="midd-2-1">My Servis</div>
            <div class="midd-2-2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              placeat rem aliquid quia repellat.
            </div>
            <div class="midd-2-3">
              <div class="midd-2-3-l">
                <div class="midd-2-icon">
                  <img src="box-images/1.svg" alt="" />
                </div>
                <div class="midd-2-2-t">Web development</div>
                <div class="midd-2-3-t">Blog, E-commerce</div>
              </div>
              <div class="midd-2-3-m">
                <div class="midd-2-icon">
                  <img src="box-images/2.svg" alt="" />
                </div>
                <div class="midd-2-2-t">UI/UX Design</div>
                <div class="midd-2-3-t">Mobile App, Web Design</div>
              </div>
              <div class="midd-2-3-r">
                <div class="midd-2-icon">
                  <img src="box-images/3.svg" alt="" />
                </div>
                <div class="midd-2-2-t">Sound Design</div>
                <div class="midd-2-3-t">Voice Over, Beat Making</div>
              </div>
            </div>
            <div class="midd-2-4">
              <div class="midd-2-4-l">
                <div class="midd-2-icon">
                  <img src="box-images/4.svg" alt="" />
                </div>
                <div class="midd-2-2-t">Game Design</div>
                <div class="midd-2-3-t">Character Desig, Props&Objects</div>
              </div>
              <div class="midd-2-4-m">
                <div class="midd-2-icon">
                  <img src="box-images/5.svg" alt="" />
                </div>
                <div class="midd-2-2-t">Photography</div>
                <div class="midd-2-3-t">Portrait, Product Photography</div>
              </div>
              <div class="midd-2-4-r">
                <div class="midd-2-2-t">Advertising</div>
                <div class="midd-2-4-t">Just do it now!</div>
                <div class="midd-2-5-t">Order now></div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-frame">
          <div class="right-1">
            <a href=""><img src="box-images/r1.svg" alt="" /></a>
          </div>
          <div class="right-2">
            <div class="right-2-i-1">
              <a href=""><img src="box-images/r2.svg" alt="" /></a>
            </div>
            <div class="right-2-i">
              <a href=""><img src="box-images/r3.svg" alt="" /></a>
            </div>
            <div class="right-2-i">
              <a href=""><img src="box-images/r4.svg" alt="" /></a>
            </div>
            <div class="right-2-i">
              <a href=""><img src="box-images/r5.svg" alt="" /></a>
            </div>
            <div class="right-2-i">
              <a href=""><img src="box-images/r6.svg" alt="" /></a>
            </div>
            <div class="right-2-i">
              <a href=""><img src="box-imges.r7.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
