 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
    <title>REJA</title>
    <link 
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
     crossorigin="anonymous" 
     />
</head>
<body style="background-color: #b8bbd1">
<div class="container">
    <h1 class="display-4 text-center py-1">REJA VA MAQSADLAR</h1>

     <div class="jumbotron p-3 shadow-sm"> 
        <form id="create-form" action="/create-item" method="POST"> 
        <div class="d-flex align-items-center"> 
        <input 
        id="create-field" 
        name="reja" 
         autofocus 
         autocomplete="off" 
         class="form-control mr-3" 
         type="text"
          style="flex: 1"
            /> 
            <button class="btn btn-primary" style="border-radius: 20px"> 
                Yangi Reja Qoshish 
            </button>
         </div>
         </form>
         </div> 

      

       <ul id="item-list" class="list-group pb-5">
        <% item.map(function (item) { %>
            <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between"
            >
      <span class="item-text"><%=item.reja%></span>
      <div>
        <button data-id="<%=item._id%>" 
            class="edit-me btn-secondary btn-sm mr-1">
            Ozgartirish
    </button>
    <button data-id="<%=item._id%>" class="delete-me btn-danger btn-sm">Ochirish</button> 
    </div>
            </li>

       <% }) %>

       </ul>

         <button id="clean-all" class="btn btn-danger" style="border-radius: 20px">
        Hamma Rejalarni Ochirish
    </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
        <script src="/browser.js"></script>
</body>
</hmtl> 
